.opacity-5{
	opacity: 0.5
}

.input-icon{
	top: 0;
} 

.input-icon-left{
	left: 0;
}

.input-icon-right{
	right: 0;
}

.icon-gray{
	fill: $gray-600;
}

.icon-delta{
    fill: $color-delta;
}

.icon-elm{
    fill: $color-elm;
}

.icon-blue-light{
	fill: $blue-100;
}

.icon-info{
	fill: $cyan;
}

.icon-success{
    fill: $color-caribbean-green;
}

.icon-danger{
    fill: $danger;
}

.icon-white{
	fill: $white;
}

.icon-black{
    fill: $black;
}

.h-0{
	height: 0px;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.app-theme-dark .custom-scroll::-webkit-scrollbar-track {
	background: $color-abbey;
    border: 3px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

.app-theme-light .custom-scroll::-webkit-scrollbar-track {
	background: $color-rock-blue;
	border: 3px solid transparent;
	background-clip: content-box;   /* THIS IS IMPORTANT */
}



/* Handle */
.app-theme-dark .custom-scroll::-webkit-scrollbar-thumb {
    background: $color-jelly-bean-3;
    border-width: 0px;
    border-radius: 8px;
}

/* Handle */
.app-theme-light .custom-scroll::-webkit-scrollbar-thumb {
    background: $color-jelly-bean-2;
    border-width: 0px;
    border-radius: 8px;
}

.custom-scroll-lg{	
    margin-right: -30px;
    padding-right: 20px;
}

.custom-scroll-sm{	
    margin-right: -20px;
    padding-right: 10px;
}



.form-control-xs {
    height: 1.875rem;
    border-radius: 0.2rem;
}

.smaller{
	font-size: 75%;
}

.tall-modal{
    min-height: 600px;
}

.rotated-img{
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.border-dashed{
    border: 1px dashed #38525a;
}


 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable,
.grabbable:active {
    cursor: grabbing;
}