// Colors

$blue-900: #061B22; 
$blue-800: #0C272F;
$blue-700: #0E2D37;
$blue-600: #0d303b;
$blue-500: #495F66;
$blue-300: #82989F;
$blue-100: #8FACB6;

$blues: ();
$blues: map-merge(
  (
    '900': $blue-900,
    '800': $blue-800,
    '700': $blue-700,
    '600': $blue-600,
    '500': $blue-500,
    '300': $blue-300,
    '100': $blue-100,
  ),
  $blues
);



// theme color


$color-picton-blue: #56CCF2;
$color-cornflower-blue: #4C7BF6;
$color-caribbean-green: #00D983;




$color-black-pearl: #061B22;
$color-black-pearl-2: #041E25;
$color-firefly: #0C272F;
$color-firefly-2: #0E2D37;
$color-elephant: #0d303b;
$color-elephant-2: #103743;
$color-elephant-3: #0d2d37;
$color-river-bed: #43585f;
$color-regent-gray: #82989F;
$color-regent-gray-2: #86979D;
$color-bali-hai: #8FACB6;
$color-mercury: #E3E3E3;
$color-mercury-2: #E9E9E9;
$color-mercury-3: #E8E8E8;
$color-malibu: #5BD4F5;
$color-outer-space: #313942;
$color-cutty-shark: #54686F;
$color-cutty-shark-2: #5C7983;
$color-cutty-shark-3: #566C73;
$color-juniper: #768C92;
$color-lemon-grass: #999B94;
$color-silver-chalice: #AEAEAE;
$color-silver-chalice-2: #AAAAAA;
$color-granny-smith: #8EA2A8;
$color-alabaster: #F7F7F7;
$color-rolling-stone: #768083;
$color-bitter: #82867D;
$color-jelly-bean: #27728C;
$color-jelly-bean-2: #28849D;
$color-jelly-bean-3: #23778E;
$color-boston-blue: #3c98b5;
$color-abbey: #4D4D51;
$color-oslo-gray: #828D90;
$color-oslo-gray-2: #818e92;
$color-rock-blue: #a1c7d1;
$color-tundora: #484848;
$color-delta: #A6A8A3;
$color-azure-radiance: #008CE7;
$color-celeste: #CBCCC9;
$color-silver: #C6C6C6;
$color-alto: #DFDFDF;
$color-seashell: #F1F1F1;
$color-nile-blue: #184E5B;
$color-smalt-blue: #5d838c;
$color-elm: #216879;
$color-blue-bayoux: #45646D;
$color-guardsman-red: #D00101;

$color-gallery: #EBEBEB;

$color-tarawera: #083D4E;



$layout-colors: ();
$layout-colors: map-merge(
  (
    'color-picton-blue': $color-picton-blue,
    'color-cornflower-blue': $color-cornflower-blue,
    'color-caribbean-green': $color-caribbean-green,
    'color-black-pearl': $color-black-pearl,
    'color-black-pearl-2': $color-black-pearl-2,
    'color-firefly': $color-firefly,
    'color-firefly-2': $color-firefly-2,
    'color-elephant': $color-elephant,
    'color-elephant-2': $color-elephant-2,
    'color-elephant-3': $color-elephant-3,
    'color-river-bed': $color-river-bed,
    'color-regent-gray': $color-regent-gray,
    'color-regent-gray-2': $color-regent-gray-2,
    'color-bali-hai': $color-bali-hai,
    'color-mercury': $color-mercury,
    'color-mercury-2': $color-mercury-2,
    'color-mercury-3': $color-mercury-3,
    'color-malibu': $color-malibu,
    'color-outer-space': $color-outer-space,
    'color-cutty-shark': $color-cutty-shark,
    'color-cutty-shark-2': $color-cutty-shark-2,
    'color-cutty-shark-3': $color-cutty-shark-3,
    'color-juniper': $color-juniper,
    'color-lemon-grass': $color-lemon-grass,
    'color-silver-chalice': $color-silver-chalice,
    'color-silver-chalice-2': $color-silver-chalice-2,
    'color-granny-smith': $color-granny-smith,
    'color-alabaster': $color-alabaster,
    'color-rolling-stone': $color-rolling-stone,
    'color-bitter': $color-bitter,
    'color-jelly-bean': $color-jelly-bean,
    'color-jelly-bean-2': $color-jelly-bean-2,
    'color-jelly-bean-3': $color-jelly-bean-3,
    'color-boston-blue': $color-boston-blue,
    'color-abbey': $color-abbey,
    'color-oslo-gray': $color-oslo-gray,
    'color-oslo-gray-2': $color-oslo-gray-2,
    'color-rock-blue': $color-rock-blue,
    'color-tundora': $color-tundora,
    'color-delta': $color-delta,
    'color-azure-radiance': $color-azure-radiance,
    'color-celeste': $color-celeste,
    'color-silver': $color-silver,
    'color-alto': $color-alto,
    'color-seashell': $color-seashell,
    'color-nile-blue': $color-nile-blue,
    'color-smalt-blue': $color-smalt-blue,
    'color-elm': $color-elm,
    'color-blue-bayoux': $color-blue-bayoux,
    'color-guardsman-red': $color-guardsman-red,
    'color-gallery': $color-gallery,
  ),
  ()
);






$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $color-cornflower-blue,
    "secondary":  $secondary,
    "success":    $color-caribbean-green,
    "info":       $color-picton-blue,
    "warning":    $warning,
    "danger":     $color-guardsman-red,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);





$small-font-size: 87.5%;

$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$label-margin-bottom: 0;

$border-radius-lg: 0.625rem;

// Forms 

/* $input-bg: $blue-700;
$input-color: $blue-500;
$input-focus-color: $blue-500;
$input-focus-bg: $blue-700; */

$input-border-width: 0;
$input-border-radius: 10px;

$input-height: 3.125rem;
$input-height-sm: 2.5rem;
$input-height-lg: 3.75rem;

$input-font-size: 1rem;
$input-font-size-sm: 1rem;
$input-font-size-lg: 1rem;

$enable-validation-icons: false;

// Modals

$modal-content-bg: transparent;



$h1-font-size:                $font-size-base * 2.875; // 46
$h2-font-size:                $font-size-base * 2.25; // 36
$h3-font-size:                $font-size-base * 1.875; // 30
$h4-font-size:                $font-size-base * 1.5; // 24
$h5-font-size:                $font-size-base * 1.25; // 20 
$h6-font-size:                $font-size-base * 1.125; // 18 

$spacers: map-merge(
  (
    6: ($spacer * 3.75)
  ),
  $spacers
);


@each $color, $value in $blues {
  @include bg-variant(".bg-blue-#{$color}", $value);
  @include text-emphasis-variant(".text-blue-#{$color}", $value);
}

@each $color, $value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value);
  @include text-emphasis-variant(".text-gray-#{$color}", $value);
}

@each $color, $value in $layout-colors {
  @include bg-variant(".bg-#{$color}", $value);
  @include text-emphasis-variant(".text-#{$color}", $value);
}



$ignore-warning: true