
body,
html {
	font-family: 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, 
html, 
#root, 
.app,
.pages,
.page
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

 
button.btn.btn-outline-info{
  &:not(:disabled):not(.disabled){  
    &:active,
    &:focus,
    &:hover{
      color: #fff;
    }
  }
}

button.btn.btn-outline-primary{
	color: #fff;
	&:not(:disabled):not(.disabled){  
	    &:active,
	    &:focus,
	    &:hover{
	      color: #fff;
	    }
  	}
}


// nav 
.nav li a{
	font-size: 1.125rem;
	text-decoration: none;
	border-left: 4px solid transparent;
}

.sidebar-bottom{
	border-left: 8px solid transparent;
}

.app-theme-dark{
	.sidebar-top{	
		.nav li {
			span {
				color: $color-regent-gray-2;
			}
			a{
				color: $color-regent-gray-2;
				svg{
					fill: $color-regent-gray-2;
				}
				&.active,
				&:hover{
					border-left-color: $color-firefly-2;
					color: $white;
					background-color: $color-firefly;
					svg{
						fill: $info;
					}
				}

			}	
		}
	}
	.sidebar-bottom {
		color: $color-malibu;
		background-color: $color-elephant-2;
		border-left-color: $color-jelly-bean-2;
		svg{
			fill: $color-jelly-bean-2;
		}
	}

}


.app-theme-light{
	.sidebar-top{
		.nav li {
			span {
				color: $color-bitter;
			}
			a{
				color: $color-bitter;
				svg{
					fill: $color-bitter;
				}
				&.active,
				&:hover{
					border-left-color: $color-jelly-bean-2;
					color: $white;
					background-color: $color-jelly-bean;
					svg{
						fill: $white;
					}
				}

			}	
		}
	}
	.sidebar-bottom {
		color: #fff;
		background-color: $color-jelly-bean;
		border-left-color: $color-malibu;
		svg{
			fill: $color-boston-blue;
		}
	}
}



.rc-tabs{
	.rc-tabs-nav{
		.rc-tabs-nav-operations-hidden{
			display: none;
		}
		.rc-tabs-nav-wrap{
			.rc-tabs-nav-list{
				position: relative;
				display: flex;
				padding-bottom: 0.625rem;
				font-size: 1.125rem;
				.rc-tabs-tab{
					flex-grow: 1;
					margin-left: 2px;
					margin-right: 2px;
					position: relative;
					&:after{
						content: '';
						display: block;
						position: absolute;
						bottom: -10px;
						width: 100%;
						height: 3px;
						background-color: $color-abbey;
					}

					.rc-tabs-tab-btn{
						outline: 0;
						cursor: pointer;
					}
				}
				.rc-tabs-ink-bar{
					position: absolute;
					height: 5px;
					background-color: $cyan;
					bottom: 0;
					transition: all 0.3s;
				}
			}
		}
	}
	.rc-tabs-content-holder{
		.rc-tabs-content{
			.rc-tabs-tabpane{
				outline: none;
			}
		}
	}
}


.sidebar-tabs{
	height: 100%;
	display: flex;
	flex-direction: column;
	.rc-tabs-content-holder{
		height: 0px;
		flex-grow: 1;
		.rc-tabs-content{
			height: 100%;
			.rc-tabs-tabpane{
				height: 100%;
			}
		}
	}
}


.app-theme-light{
	.sidebar-tabs{
		.rc-tabs-nav{

			.rc-tabs-nav-wrap{

				.rc-tabs-nav-list{	

					.rc-tabs-tab{
						color: $color-silver;
						&.rc-tabs-tab-active{
							color: $color-azure-radiance;
						}
						&:after{
							background-color: $color-alto
						}
					}
					.rc-tabs-ink-bar{
						//background-color: $color-azure-radiance;
					}
				}
			}
		}
	}
}


.page-tabs{
	.rc-tabs-nav{
		display: flex;
		flex-direction: row-reverse;	
		.rc-tabs-nav-wrap{
			display: flex;
			flex-grow: 1;
			.rc-tabs-nav-list{
				align-self: flex-end;
				flex-grow: 1;
			}
		}
		.rc-tabs-extra-content{
			flex-grow: 1;
		}
		.rc-tabs-content-holder{
			.rc-tabs-content{
				.rc-tabs-tabpane{
				}
			}
		}
	}
}

.app-theme-dark{

	.page-tabs{

		.rc-tabs-nav{

			.rc-tabs-nav-wrap{

				.rc-tabs-nav-list{	

					.rc-tabs-tab{
						color: $color-oslo-gray;
						&.rc-tabs-tab-active{
							color: $white;
						}
					}
					.rc-tabs-ink-bar{
						background-color: $color-azure-radiance;
					}
				}
			}
		}
	}

}

.app-theme-light{

	.page-tabs{

		.rc-tabs-nav{

			.rc-tabs-nav-wrap{

				.rc-tabs-nav-list{	

					.rc-tabs-tab{
						color: $color-oslo-gray;
						&.rc-tabs-tab-active{
							color: $color-azure-radiance;
						}
						&:after{
							background-color: $color-celeste;
						}
					}
					.rc-tabs-ink-bar{
						background-color: $color-azure-radiance;
					}
				}
			}
		}

	}
}

.wallet-card-container .wallet-card{
	border: 1px solid transparent;
}

.wallet-card-container.active .wallet-card{
	border: 1px solid $color-jelly-bean-2;
}


.app-theme-dark{
	.wallet-card-container.active .wallet-card{
		background-color: $color-tarawera!important;
	}
}